Before you turn this problem in, make sure everything runs as expected. First, **restart the kernel** (in the menubar, select Kernel$\rightarrow$Restart) and then **run all cells** (in the menubar, select Cell$\rightarrow$Run All). Your code should run from top to bottom with no errors. Failure to do this will result in loss of points.

Make sure you fill in any place that says `YOUR CODE HERE` or "YOUR ANSWER HERE" and delete the `stop()` functions, as well as your name and collaborators below:

In [1]:
NAME = "marcojim"  # your uniqname 
COLLABORATORS = c()  # vector of uniqnames of your collaborators, if any
## IMPORTANT: also enter your group information in Canvas when you upload the assignment

---

In [2]:
library(tidyverse)
library(nycflights13)

Warning message:
"package 'tidyverse' was built under R version 3.4.3"-- Attaching packages --------------------------------------- tidyverse 1.2.1 --
v ggplot2 2.2.1     v purrr   0.2.4
v tibble  1.4.1     v dplyr   0.7.4
v tidyr   0.7.2     v stringr 1.2.0
v readr   1.1.1     v forcats 0.2.0
Warning message:
"package 'ggplot2' was built under R version 3.4.3"Warning message:
"package 'tibble' was built under R version 3.4.3"Warning message:
"package 'tidyr' was built under R version 3.4.3"Warning message:
"package 'readr' was built under R version 3.4.3"Warning message:
"package 'purrr' was built under R version 3.4.3"Warning message:
"package 'dplyr' was built under R version 3.4.3"Warning message:
"package 'forcats' was built under R version 3.4.3"-- Conflicts ------------------------------------------ tidyverse_conflicts() --
x dplyr::filter() masks stats::filter()
x dplyr::lag()    masks stats::lag()
Warning message:
"package 'nycflights13' was built under R version 3.4.3"

# STATS 306
## Problem set 2: data manipulation
Each question is worth two points, for a total of 20. For each of these questions, start with the `flights` table in the `nycflights13` data set.

#### Problem 1
Use the `%in%` operator to extract all the flights that took place in months that begin with the letter "J". Store the resulting table in a variable called `table1`.

In [3]:
table1 = filter(flights,month %in% c(1,6,7))
print(table1)

Warning message:
"package 'bindrcpp' was built under R version 3.4.3"

# A tibble: 84,672 x 19
    year month   day dep_time sched_dep_time dep_delay arr_time sched_arr_time
   <int> <int> <int>    <int>          <int>     <dbl>    <int>          <int>
 1  2013     1     1      517            515      2.00      830            819
 2  2013     1     1      533            529      4.00      850            830
 3  2013     1     1      542            540      2.00      923            850
 4  2013     1     1      544            545     -1.00     1004           1022
 5  2013     1     1      554            600     -6.00      812            837
 6  2013     1     1      554            558     -4.00      740            728
 7  2013     1     1      555            600     -5.00      913            854
 8  2013     1     1      557            600     -3.00      709            723
 9  2013     1     1      557            600     -3.00      838            846
10  2013     1     1      558            600     -2.00      753            745
# ... with 84,662 more rows, and 11 more variables: arr_delay <dbl>, carrier
#   <chr>, flight <int>, tailnum <chr>, origin <chr>, dest <chr>, air_time
#   <dbl>, distance <dbl>, hour <dbl>, minute <dbl>, time_hour <dttm>

In [4]:
stopifnot(exists("table1"))

#### Problem 2
Find the number of United Airlines flights that departed exactly on time and arrived exactly on time. Store this number in a variable called `n2`.

In [5]:
n2 = filter(flights, carrier == "UA" & dep_delay==0 & arr_delay==0)
print(select(n2,carrier,dep_delay,arr_delay))

# A tibble: 58 x 3
   carrier dep_delay arr_delay
   <chr>       <dbl>     <dbl>
 1 UA              0         0
 2 UA              0         0
 3 UA              0         0
 4 UA              0         0
 5 UA              0         0
 6 UA              0         0
 7 UA              0         0
 8 UA              0         0
 9 UA              0         0
10 UA              0         0
# ... with 48 more rows

In [6]:
stopifnot(exists("n2"))

#### Problem 3
Find all flights destined for `LAX` or `SFO` which departed more than an hour late, but did not arrive late. Store this table in a variable called `table3`.

In [7]:
filter(flights, dest=="LAX"|dest=="SFO") %>% filter(dep_delay>60 & arr_delay<=0) -> table3

In [8]:
stopifnot(exists("table3"))

#### Problem 4
Find the number of flights in May that are missing their departure time or their arrival time, but not both. Store this number in a variable called `n4`.

In [9]:
filter(flights,is.na(dep_time) | is.na(arr_time)) %>% filter(!is.na(dep_time) | !is.na(arr_time)) %>% filter(month==5) -> n4
print(select(n4,month,dep_time,arr_time))

# A tibble: 38 x 3
   month dep_time arr_time
   <int>    <int>    <int>
 1     5     1121       NA
 2     5     2131       NA
 3     5      822       NA
 4     5     1805       NA
 5     5      649       NA
 6     5     1950       NA
 7     5     1505       NA
 8     5     1829       NA
 9     5     1951       NA
10     5     1625       NA
# ... with 28 more rows

In [10]:
stopifnot(exists("n4"))

#### Problem 5
There are four flights which have a tail number that does not begin with the letter "N". Find those rows and store them in a variable called `table5`. (*Hint*: see the help for the `str_sub()` command.)

In [11]:
table5 = filter(flights, substr(tailnum,0,1) != "N")
print(select(table5,tailnum))

# A tibble: 4 x 1
  tailnum
  <chr>
1 D942DN
2 D942DN
3 D942DN
4 D942DN

In [12]:
stopifnot(exists("table5"))

#### Problem 6
Find the tail number of the flights that were in the air for the shortest and longest amounts of time. Store them in variables `shortest_tail_num` and `longest_tail_num`, respectively.

In [13]:

shortest_tail_num =  filter(flights,air_time==min(flights$air_time, na.rm=TRUE)) %>% select(tailnum,air_time) %>% print
shortest_tail_num = shortest_tail_num$tailnum %>% print
longest_tail_num = filter(flights,air_time==max(flights$air_time, na.rm=TRUE)) %>% select(tailnum,air_time) %>% print
longest_tail_num = longest_tail_num$tailnum %>% print
# YOUR CODE HERE

# A tibble: 2 x 2
  tailnum air_time
  <chr>      <dbl>
1 N16911      20.0
2 N12167      20.0
[1] "N16911" "N12167"
# A tibble: 1 x 2
  tailnum air_time
  <chr>      <dbl>
1 N77066       695
[1] "N77066"

In [14]:
stopifnot(exists("shortest_tail_num"))
stopifnot(exists("longest_tail_num"))

#### Problem 7
Sort the rows of `flights` such that the months are arranged in the following order: spring, summer, fall, winter. (Here we define winter to be January-March, spring is April-June, etc.) Within each season, the months should be sorted in ascending order. After sorting, drop all columns except for month, day and tail number. Store the sorted and subsetted table in a variable called `table7`.

In [15]:
get_season = function(a){
    sapply(a,function(a){
        if(a<4){
            return("winter")
        }else if(a<7){
            return("spring")
        }else if(a<10){
            return("summer")
        }else{
            return("fall")
        }
})}
table7 <- flights

table7 <- mutate(table7, season = get_season(month))
table7$season <- factor(table7$season, levels = c("spring","summer","fall","winter") )
table7 <- arrange(table7,season,month)
table7 <- select(table7,month,day,tailnum) %>% print

# A tibble: 336,776 x 3
   month   day tailnum
   <int> <int> <chr>
 1     4     1 N566UW
 2     4     1 N76288
 3     4     1 N76517
 4     4     1 N5DSAA
 5     4     1 N784JB
 6     4     1 N590JB
 7     4     1 N737US
 8     4     1 N750UW
 9     4     1 N510MQ
10     4     1 N723EV
# ... with 336,766 more rows

In [16]:
stopifnot(exists("table7"))

#### Problem 8
Drop the even-numbered columns of `flights`. Store the resulting data table in a variable called `table8`.

In [17]:
table8 <- select(table8,seq(1,ncol(table8),by = 2)) %>% print

ERROR: Error in select(table8, seq(1, ncol(table8), by = 2)): object 'table8' not found

In [ ]:
stopifnot(exists("table8"))

#### Problem 9
Define a function `pick_columns` which accepts a vector `v` and returns a data table consisting of all of the columns in `flights` whose names are found in `v`. The skeleton of the function has been provided for you.

In [ ]:
pick_columns = function(v) {
    ret = select(flights,v)
    return(ret)
}
vec = c("month","year")
print(pick_columns(vec))

In [ ]:
stopifnot(exists("pick_columns"))

#### Problem 10
Select all the columns in flights which end with "delay". In the resulting table, define a new column `max_delay` which equals the maximum of the departure and arrival delays for each flight. For example, if a flight had a departure delay of `-1` and an arrival delay of `10`, the `max_delay` would equal `10`.
Store this table in a variable called `table10`.

In [ ]:
table10 = select(flights,ends_with("delay")) %>% mutate(max_delay = pmax(arr_delay,dep_delay)) %>% print

In [ ]:
stopifnot(exists("table10"))