Before you turn this problem in, make sure everything runs as expected. First, **restart the kernel** (in the menubar, select Kernel$\rightarrow$Restart) and then **run all cells** (in the menubar, select Cell$\rightarrow$Run All). Your code should run from top to bottom with no errors. Failure to do this will result in loss of points.

Make sure you fill in any place that says `YOUR CODE HERE` or "YOUR ANSWER HERE" and delete the `stop()` functions, as well as your name and collaborators below:

In [ ]:
NAME = ""  # your uniqname 
COLLABORATORS = c()  # vector of uniqnames of your collaborators, if any
## IMPORTANT: also enter your group information in Canvas when you upload the assignment

---

In [ ]:
library(tidyverse)
library(nycflights13)

# STATS 306
## Problem set 2: data manipulation
Each question is worth two points, for a total of 20. For each of these questions, start with the `flights` table in the `nycflights13` data set.

#### Problem 1
Use the `%in%` operator to extract all the flights that took place in months that begin with the letter "J". Store the resulting table in a variable called `table1`.

In [ ]:
table1 = NA
# YOUR CODE HERE
stop()

In [ ]:
stopifnot(exists("table1"))

#### Problem 2
Find the number of United Airlines flights that departed exactly on time and arrived exactly on time. Store this number in a variable called `n2`.

In [ ]:
n2 = NA
# YOUR CODE HERE
stop()

In [ ]:
stopifnot(exists("n2"))

#### Problem 3
Find all flights destined for `LAX` or `SFO` which departed more than an hour late, but did not arrive late. Store this table in a variable called `table3`.

In [ ]:
table3 = NA
# YOUR CODE HERE
stop()

In [ ]:
stopifnot(exists("table3"))

#### Problem 4
Find the number of flights in May that are missing their departure time or their arrival time, but not both. Store this number in a variable called `n4`.

In [ ]:
n4 = NA
# YOUR CODE HERE
stop()

In [ ]:
stopifnot(exists("n4"))

#### Problem 5
There are four flights which have a tail number that does not begin with the letter "N". Find those rows and store them in a variable called `table5`. (*Hint*: see the help for the `str_sub()` command.)

In [ ]:
table5 = NA
# YOUR CODE HERE
stop()

In [ ]:
stopifnot(exists("table5"))

#### Problem 6
Find the tail number of the flights that were in the air for the shortest and longest amounts of time. Store them in variables `shortest_tail_num` and `longest_tail_num`, respectively.

In [ ]:
shortest_tail_num = NA
longest_tail_num = NA
# YOUR CODE HERE
stop()

In [ ]:
stopifnot(exists("shortest_tail_num"))
stopifnot(exists("longest_tail_num"))

#### Problem 7
Sort the rows of `flights` such that the months are arranged in the following order: spring, summer, fall, winter. (Here we define winter to be January-March, spring is April-June, etc.) Within each season, the months should be sorted in ascending order. After sorting, drop all columns except for month, day and tail number. Store the sorted and subsetted table in a variable called `table7`.

In [ ]:
table7 = NA
# YOUR CODE HERE
stop()

In [ ]:
stopifnot(exists("table7"))

#### Problem 8
Drop the even-numbered columns of `flights`. Store the resulting data table in a variable called `table8`.

In [ ]:
table8 = NA
# YOUR CODE HERE
stop()

In [ ]:
stopifnot(exists("table8"))

#### Problem 9
Define a function `pick_columns` which accepts a vector `v` and returns a data table consisting of all of the columns in `flights` whose names are found in `v`. The skeleton of the function has been provided for you.

In [ ]:
pick_columns = function(v) {
    # YOUR CODE HERE
    stop()
}

In [ ]:
stopifnot(exists("pick_columns"))

#### Problem 10
Select all the columns in flights which end with "delay". In the resulting table, define a new column `max_delay` which equals the maximum of the departure and arrival delays for each flight. For example, if a flight had a departure delay of `-1` and an arrival delay of `10`, the `max_delay` would equal `10`.
Store this table in a variable called `table10`.

In [ ]:
table10 = NA
# YOUR CODE HERE
stop()

In [ ]:
stopifnot(exists("table10"))